body {
  background-color: lightblue;
  
}
h3 {
  Color: purple;
  font-size: 200%;
  background-color: grey;
  letter-spacing: 7px;
}
h4 {
  font-size: 150%;
}
img {
  width: 20%
}
nav {
  list-style: none;
  background-color: grey;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}

li {
  float: left;
}

li a{
  display: block;
  color: purple;
  text-decoration: none;
  padding: 15px 40px;
}

li a: hover {
  background-color: anitquewhite;
  color: black;
}
